In [1]:
# prep: import modules and get pwd
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import getpass  # To get the password without showing the input
password = getpass.getpass()# get the data

········

In [2]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

In [3]:
# film related informations
# I retrieve data from the film table first, and I enrich it directly with the category_id
# I did not keep the title in as we saw that they are all unique and thus redondant with the film_id
# (that will anyway not remain in the model in the end). I just keep it now for rental identification purposes
query = ''' SELECT f.film_id, language_id, rental_duration, rental_rate, length, rating, fc.category_id
FROM sakila.film f
JOIN sakila.film_category fc
USING (film_id);
'''

film = pd.read_sql_query(query, engine)
film

,film_id,language_id,rental_duration,rental_rate,length,rating,category_id
0,19,1,6,0.99,113,PG,1
1,21,1,3,4.99,129,R,1
2,29,1,5,2.99,168,NC-17,1
3,38,1,6,0.99,68,NC-17,1
4,56,1,6,2.99,129,G,1
...,...,...,...,...,...,...,...
995,931,1,7,0.99,48,PG-13,16
996,977,1,3,2.99,85,R,16
997,981,1,7,0.99,55,NC-17,16
998,988,1,7,2.99,139,R,16
999,989,1,4,4.99,74,R,16

In [4]:
film.isna().sum()

film_id            0
language_id        0
rental_duration    0
rental_rate        0
length             0
rating             0
category_id        0
dtype: int64